datasets==3.2.0
torch==2.2.0
tqdm==4.67.1
transformers==4.45.1
tokenizers==0.20.3
accelerate==0.34.0
deepspeed==0.11.2
tyro==0.7.3
peft==0.10.0
matplotlib==3.7.1
wandb==0.15.4
bitsandbytes==0.43.2
trl==0.8.0
safetensors==0.4.5
scikit-learn==1.4.1.post1
scipy==1.10.1
seaborn==0.13.2
protobuf==3.20.0
numpy==1.25.0
flash-attn==2.6.3